/* Header-menu part */
.wrapper-main {
    width: 1340px;
    height: 855px;
    background-color: var(--color-bg);

    background-image: image-set(
        url('./static/images/Background_stripes.png') type('image/png'),
        url('./static/images/Background_stripes.jpg') type('image/jpg'),
        url('./static/images/Background_stripes.svg') type('image/svg')
    );
    background-repeat: no-repeat;
    background-size: cover;
}

.header-menu {
    margin: 0 80px;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        flex-direction: column;
        .logo-1, .logo-2, .logo-3 {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .top-part {
            display: flex;
            flex-direction: row;
            .logo-1 {
                width: 64px;
                height: 28px;
                background-image: url('./static/images/Logo1.png');
            }
            .logo-2 {
                width: 28px;
                height: 37px;
                background-image: url('./static/images/Logo2.png');
            }
        }
        .logo-3 {
            width: 82px;
            height: 16px;
            background-image: url('./static/images/Logo3.png');
        }
    }

    .list {
        display: flex;
        justify-content: space-between;
        width: 412px;
        height: 20px;
        color: var(--color-primary);
        .selected {
            color: var(--color-white);
        }
        .list a {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            line-height: 19.2px;
        }        
    }

    .buttons {
        width: 271px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
        }
        .button-1 {
            width: 117px;
            height: 50px;
            color: var(--color-primary);
            background-color: var(--color-bg);
            // border-color: var(--color-primary);
            border: 1px solid var(--color-primary);
        }
        .button-2 {
            width: 138px;
            height: 50px;
            color: var(--color-bg);
            background-color: var(--color-yellow);
        }
    }
}



