/* Header-menu part */
.wrapper-main {
    height: 855px;
    background-color: var(--color-bg);

    background-image: image-set(
        url('./static/images/Background_stripes.png') type('image/png'),
        url('./static/images/Background_stripes.jpg') type('image/jpg'),
        url('./static/images/Background_stripes.svg') type('image/svg')
    );
    background-repeat: no-repeat;
    background-size: cover;
}

.header-menu {
    margin: 0 80px;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // border: 2px solid red;
}

.header-menu__logo {
    display: flex;
    flex-direction: column;

    // border: 2px solid blue;
}

.logo-top {
    display: flex;
    flex-direction: row;
}

.logo-1, .logo-2, .logo-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-1 {
    width: 64px;
    height: 28px;
    background-image: url('./static/images/Logo1.png');
}

.logo-2 {
    width: 28px;
    height: 37px;
    background-image: url('./static/images/Logo2.png');
}

.logo-3 {
    width: 82px;
    height: 16px;
    background-image: url('./static/images/Logo3.png');
}

.header-menu__list {
    display: flex;
    justify-content: space-between;
    width: 412px;
    height: 20px;
    color: var(--color-primary);

    // border: 2px solid blue;
}

.selected {
    color: var(--color-white);
}

.header-menu__list a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 19.2px;
}

.header-menu__buttons {
    width: 271px;
    display: flex;
    justify-content: space-between;

    // border: 2px solid blue;
}

.header-menu__buttons button {
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    border-radius: 30px;
}

.button-1 {
    width: 117px;
    color: #CECECE;
    background-color: var(--color-bg);
    border-color: var(--color-primary);
}

.button-2 {
    width: 138px;
    color: var(--color-bg);
    background-color: var(--color-yellow);
}