// ASIDE MAIN-Sections part
.main-container {
    margin: 0 80px;
    display: flex;
    flex-direction: column;

    
.container__top {
    height: 573px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

        
    .nav-menu {
        align-self: stretch;
        max-width: 150px;
        .list-items {
            width: inherit;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            li a {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 25px;
                color: var(--color-primary);
            }
            .selected {
                color: var(--color-white);
            }
        }
        // border: 2px solid red;
    }

    .sections-images {
        margin-top: 50px;
        display: flex;
        align-self: start;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .img1, .img2 {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .img1 {
            position: relative;
            width: 553px;
            height: 399px;
        
            background-image: url('./static/images/Group_of_people.png');
            // border: 2px solid pink;
            .img2 {
                position: absolute;
                bottom: -100px;
                left: -30px;
                width: 150px;
                height: 185px;
            
                background-image: url('./static/images/MarketStatic.png');
                // border: 2px solid pink;
            }
        }
        // border: 2px solid yellow;
    }

    .sections-text {
        width: 435px;
        // border: 2px solid yellow;
        .container-text {
            margin: 0;
            font-family: "Roboto", sans-serif;
            color: var(--color-secondary);
            h1 {
                margin: 0;
                font-weight: 500;
                font-style: normal;
                font-size: 55px;
                line-height: 60px;
            }
            p {
                height: 64px;
                font-weight: 300;
                font-style: normal;
                font-size: 20px;
                line-height: 32px;
            }
        }
        .container-buttons {
            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
        
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: var(--color-bg);
            .btn-1__img, .btn-2__img {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .btn-1 {
                width: 130px;
                height: 50px;
                
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 10px;
            
                border-radius: 30px;
                background-color: var(--color-yellow);
                .btn-1__img {
                    width: 24px;
                    height: 16px;
                    color: var(--color-bg);           
                    background-image: url('./static/images/Arrow.png');
                }
            }
            
            .btn-2 {
                margin-left: 15px;
                width: 130px;
                height: 50px;
                
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 10px;
            
                color: var(--color-secondary);
                .btn-2__img {
                    width: 24px;
                    height: 24px;
                
                    background-image: url('./static/images/Button_play.png');
                }
            }
        }
        
        .container-statistics {
            height: 130px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .items {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                .number {
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 34px;
                    line-height: 46px;
                    color: var(--color-yellow);
                }
                .text{
                    margin-top: 3px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: var(--color-white);
                }
                // border: 2px solid red;
            }
            // border: 2px solid blue;
        }
    }
    // border: 2px solid red;
}

.container__bottom {
    .clients-list {
        height: 158px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .item-1, .item-2, .item-3, .item-4, .item-5 {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .item-1 {
            width: 101px;
            height: 33px;
            background-image: url('./static/images/Google_logo.png');
        }
        .item-2 {
            width: 166px;
            height: 33px;
            background-image: url('./static/images/Dropbox_logo.png');
        }
        .item-2 {
            width: 166px;
            height: 33px;
            background-image: url('./static/images/Dropbox_logo.png');
        }
        .item-3 {
            width: 115px;
            height: 35px;
            background-image: url('./static/images/Amazon_logo.png');
        }
        .item-4 {
            width: 188px;
            height: 23px;
            background-image: url('./static/images/Atlassian_logo.png');
        }
        .item-5 {
            width: 124px;
            height: 34px;
            background-image: url('./static/images/HubSpot_logo.png');
        }
    }
}


    // border: 2px solid blue;
}
