@import 'style/normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';



html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.page {
    max-width: 1920px;
    margin: 0 auto;
}

.testImg {
    width: 400px;
    height: 400px;
    background-image: url(../src/static/images/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.testImg2 {
    width: 200px;
    height: 200px;
    background-image: url(../src/static/images/plane-and-money.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  }