@import 'style/normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';


.div {
    width: 80vw;
    margin: 5px;
    background-color: beige;
    border: 2px solid rgb(233, 17, 17);
}